input, label {
display : block; 
margin-bottom: 10px;
}
table, th, td {
  border: 1px solid black;
}

#sre, #rlt {
float: right; 
}

th { background-color: #bde9ba; }
.th { background-color: #bdd6ff; }
.mh  { background-color: #ffc2a3; }

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=text]:focus {
  background-color: lightblue;
}
